{% extends 'base.html' %}


{% block content %}
    <dir class="hero">
        <h1>¡Prepárate para sumergirte en el fascinante universo del reconocimiento facial con <span>UPFace</span> Streaming!</h1>

    </dir>

    <div class="paipper">
        <h2>Resumen</h2>
        <p class="text-justify">
            El proyecto "UPFace" combina las potentes herramientas de OpenCV y Flask librerías del lenguaje python para desarrollar una aplicación que permite la detección y seguimiento de rostros en tiempo real.
            <br>
            A través de la biblioteca OpenCV, se integran tanto el algoritmo de Haar Cascade como el EigenFaceRecognizer permitiendo identificar rostros en imágenes, videos y streaming. Mientras que el algoritmo de Haar Cascade identificar los rasgos faciales y permite establece la base de datos de imágenes. EigenFaceRecognizer utiliza enfoques de Aprendizaje Profundo que permite identificar rostros en tiempo real al entrenar una red neuronal y empleando su capa de salida.
            <br>
            La integración de estas capacidades se potencia con el uso del framework Flask, que permite crear una interfaz de usuario a través de un servidor web. Esto posibilita a los usuarios acceder a la aplicación mediante un navegador web y disfrutar de la detección y seguimiento de rostros en tiempo real, lo que abre un mundo de posibilidades, desde la transmisión en vivo hasta la integración con sistemas de seguridad y automatización.
            <br>
            En síntesis, este enfoque no solo brinda una identificación de rostros, sino que también abre un amplio abanico de posibilidades que van desde la seguridad hasta la personalización de experiencias digitales.
        </p>
    </div>

{% endblock %}

